// {
//   "extends": "eslint-config-egg"
// }

{
  "extends": ["eslint-config-egg/typescript", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-var-requires": 0
  }
}
